* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background: #fff;
    overflow: hidden;
}

::selection {
    background: #6c757d;
}

.containerlOGIN {
    max-width: 440px;
    padding: 0 20px;
    margin: 2% auto;
}

.wrapper {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .title {
    height: 56px;
    background: #14264f;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form {
    padding: 30px 25px 25px 25px;
    
}

.wrapper form .row {
    height: 39px;
    margin-bottom: 12px;
    position: relative;
}

.wrapper form .row input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
}

form .row input:focus {
    border-color: #c9cbca;
    box-shadow: inset 0px 0px 2px 2px rgba(26, 188, 156, 0.25);
}

form .row input::placeholder {
    color: #999;
}

.wrapper form .row i {
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #c9cbca;
    border: 1px solid #c9cbca;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form .pass {
    margin: -8px 0 20px 0;
}

.wrapper form .pass a {
    color: #6c757d;
    font-size: 17px;
    text-decoration: none;
}

.wrapper form .pass a:hover {
    text-decoration: underline;
}

.wrapper form .button input {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #c9cbca;
    border: 1px solid #c9cbca;
    cursor: pointer;
}

form .button input:hover {
    background: #6c757d;
}

.wrapper form .signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}

.wrapper form .signup-link a {
    color: #c9cbca;
    text-decoration: none;
}

form .signup-link a:hover {
    text-decoration: underline;
}


/* ROBO */
.robo {
    display: flex;
    align-items: center;
    padding-left: 0px;
    width: 100%;
    justify-content: flex-start;
    height: 60px;
    background-color: white;
    color: white;
}

.cont_robo {
    width: 98%;
    padding-left: 16px;
    height: 90%;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    background-color: #14264f;
    align-items: center;
}
#label_robo{
    margin-left: 18px;
}

.loader {
    border: 5px solid #f3f3f3;
    /* Light grey */
    border-top: 5px solid #6c757d;
    /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 29px;
    display: none;
    animation: spin 0.5s linear infinite;

}


.ss {
    display: flex;
    align-items: center;

}

.ch radio {

    width: 25px;
    height: 45px;
    display: flex;
}

.footer_principal {
    bottom: 0;
    left: 0;
    height: auto;
    position: fixed;
    width: 100%
}
/* .msg_error{
    height: 10px;
    padding: 0rem 1rem;
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
} */
/* .fade {
    transition: opacity 0.15s linear;
} */